.stagesContainer {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
   
}

.stagesHeader {
    background-color: white;
    text-align: center;
    width: 100%;
}

.stagesContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.stages {
    border-radius: 10px;
    background-color: white;
    max-width: 20rem;
    min-width: 17rem;
    height: 28rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    transition: transform 0.5s ease-in-out; /* הופך את האנימציה לחלקה */
    


}

.stagesHeader h2 {
    font-size: 3rem;
}

.stepNumber {
    font-family: 'rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background-color: #007BFF;
    border-radius: 10px;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.stagesContainer h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid black;
}

.stagesContainer p {
    font-size: 1.2rem;
    text-align: right;
}

.stages:hover {
    transform: scale(1.05);
}

@media (max-width: 576px){
    .stagesHeader h2 {
        font-size: 2.5rem;
    }
}