.whyChooseUs {
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 4rem 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.sectionTitle {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

/* החלפת sectionDescription ל-sectionContent שעוטף את כל התוכן */
.sectionContent {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #2c2b2b;
    margin-bottom: 30px;
    text-align: center;
    width: 60%;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    font-weight: bold; /* הוספת הדמיה של strong */
}

/* סגנונות אחידים לכל הפסקאות בתוך התוכן */
.introText, 
.emphasisText, 
.specializationText, 
.processText, 
.callToActionText {
    margin-bottom: 1.5rem;
}

/* עיצוב רשימת היתרונות */
.benefitsList {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    text-align: center;
}

.benefitItem {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.checkmark {
    color: #007BFF;
    margin-right: 0.5rem;
    font-weight: bold;
}

.emoji {
    margin-left: 0.5rem;
}

/* מסתיר תוכן רק ויזואלית אבל מנגיש לקוראי מסך */
.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 1024px) {
    .whyChooseUs {
        padding: 4rem 1.5rem;
    }
    
    .sectionTitle {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    .sectionContent {
        width: 85%;
        font-size: 1.2rem;
    }
}

/* טאבלט */
@media (max-width: 768px) {
    .whyChooseUs {
        padding: 3rem 1.5rem;
    }
    
    .sectionTitle {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    .sectionContent {
        width: 90%;
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

/* נייד גדול */
@media (max-width: 576px) {
    .whyChooseUs {
        padding: 2.5rem 1rem;
    }
    
    .sectionTitle {
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }
    
    .sectionContent {
        width: 95%;
        font-size: 1.1rem;
        line-height: 1.4;
    }
}

/* נייד קטן */
@media (max-width: 375px) {
    .whyChooseUs {
        padding: 2rem 0.8rem;
    }
    
    .sectionTitle {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .sectionContent {
        width: 100%;
        font-size: 1rem;
        line-height: 1.4;
    }
}